/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f0f0f0;
    color: #333;
    padding-top: 50px;
}

h1, h2 {
    color: #2c3e50;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Header Styles */
header {
    background: #3498db;
    color: white;
    padding: 20px 0;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

header nav ul {
    list-style: none;
    display: flex;
}

header nav ul li {
    margin-left: 20px;
}

header nav ul li a {
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    padding: 5px 10px;
    transition: background-color 0.3s;
}

header nav ul li a:hover {
    background-color: #2980b9;
}

/* Sections */
section {
    padding: 60px 20px;
    margin-top: 80px;
}

section#home {
    background: #ecf0f1;
    text-align: center;
}

section#about,
section#skills,
section#contact {
    background: white;
    margin-bottom: 20px;
}

section h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.skills-list {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.skills-list li {
    background-color: #3498db;
    color: white;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.skills-list li:hover {
    background-color: #2980b9;
}

/* Contact Form Styles */
form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
}

form label {
    margin-bottom: 5px;
    font-weight: bold;
}

form input,
form textarea {
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #cccccc;
}

form button {
    padding: 10px;
    background-color: #db34d8;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

form button:hover {
    background-color: #29a8b9;
}

/* Footer Styles */
footer {
    text-align: center;
    padding: 20px;
    background-color: #a334db;
    color: white;
    margin-top: 40px;
}
